{#
/**
 * @file
 * Default theme implementation to print Lookup not found.
 */
#}
<div class="webform_dynamics_365 case-lookup-not-found">
  <p>Unable to retrieve case.</p>
  <p><a href="/i-want/book-report-and-inquire/serviceking-customer-centre">Look up another case</a></p>
</div>