{#
/**
 * @file
 * Default theme implementation to print Lookup results.
 *
 * Available variables:
 *   - incident
 */
#}
<div class="webform_dynamics_365 case-lookup-results">
  <p>CRM ID: {{ incident.ticketnumber }}<br />
    Created On: {{ incident.createdon|date("l, F j, Y g:ia") }}<br />
    Resident Full Name: {{contact.fullname }}<br />
    Case Title: {{ incident.title }}<br />
    Status: {{ incident.statusdescription }}<br />
    Ward: {{ incident.warddescription }}</p>
  <p><a href="/i-want/book-report-and-inquire/serviceking-customer-centre">Look up another case</a></p>
</div>